body {
    font-family: Arial, sans-serif;
    background-image: url(download.jpeg);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 255px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 18px;
    margin-bottom: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .Back {
    text-align: center;
  }
  
  .Back button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 260px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .Back button a {
    color: #fff;
    text-decoration: none;
  }
  
  .Back button:hover {
    background-color: #c82333;
  }
  
  
  @media (max-width: 600px) {
    .container {
      max-width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
  
    button[type="submit"],
    .Back button {
      padding: 10px 15px;
    }
  }
  